<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <article>
            <img id="logo" src="../img/game-of-thrones-logo.webp">
            <h1><a> Catálogo Game of Thrones </a></h1>
        </article>
        <ul>
            <li id="home">
                <a href="/">Home</a>
            </li>
            <li id="cadastro">
                <a href="/criar">Criar</a>
            </li>
            <li id="quem">
                <a href="/quemSomos">Quem Somos</a>
            </li>
        </ul>
    </nav>

    <% if(mensagem != "") {  %>
        <section id="message">
            <p><%= mensagem %></p> <span id="close">&times;</span>
        </section>
    <% }  %>

    <header>
        <h1>Editar Componente do elenco</h1>
    </header>

    <section id="details">
        <form action="/editarElenco/<%= elenco.id %>" method="POST">
            <div>
                <label for="nome">Digite o nome do componente: </label>
                <input type="text" name="nome" id="nome" placeholder="Nome do componente" value="<%= elenco.nome %>">
            </div>
        
            <div>
                <label for="funcao">Digite a função do componente: </label>
                <input type="text" name="casa" id="casa" placeholder="Nome da casa" value="<%= elenco.casa %>">
            </div>

            <div>
                <label for="imagem">Coloque o link para a imagem do componente: </label>
                <input type="text" name="imagem" id="imagem" placeholder="Link da imagem" value="<%= elenco.imagem %>">
            </div>

            <div>
                <label for="nacionalidade">Digite a nacionalidade do componente: </label>
                <input type="text" name="nacionalidade" id="nacionalidade" placeholder="nacionalidade do componente" value="<%= elenco.nacionalidade %>">
            </div>
        
            <button type="submit">Editar Componente</button>
        </form>
    </section>
    
</body>
</html>